@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(../CSS/variaveis.css);
@import url(../CSS/navbar.css);
@import url(../CSS/Musica.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

a.btn{
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    border: none;
    border: 8px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
}

.btn-nav{
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.btn-default{
        display: none;
        color: var(--color-terceiras-1);

        &:hover{
            background-color: var(--color-terceiras-2);
        }
    } 
