.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 90%;
  max-width: 600px;
  background-color: rgb(228, 228, 208);
  padding: 20px;
  border-radius: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


label {
  margin-left: 10px;  
  color: var(--color-principal-0);
  text-align: left;        
  width: 100%;         
}

input {
  width: 100%;            
  max-width: 450px; 
  height: 50px;
  border-radius: 20px;
  border: 0;
  color: var(--color-segundarias-1);
  font-weight: bold;
  font-size: medium;
  padding: 10px 15px;
  box-sizing: border-box;
  align-self: center;
}

.formTitulo {
  font-size: xx-large;
  margin: 0 0 20px 0;  
  color: var(--color-principal-0);
  text-align: center;
}

.botao, .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;      
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.opc {
  background-color: var(--color-segundarias-1);
  cursor: pointer;
  border: 2px solid var(--color-segundarias-2);
  padding: 10px;
  border-radius: 20px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  color: var(--color-principal-2);
  text-align: center;
}

.opc:hover, .opcCad:hover {
  background-color: var(--color-principal-4);
  border: 2px solid var(--color-principal-4);
  color: var(--color-terceiras-0);
}

.opcdvd {
  background-color: var(--color-principal-4);
  cursor: pointer;
  border: 2px solid var(--color-principal-4);
  padding: 10px;
  border-radius: 20px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  color: var(--color-terceiras-0);
  text-align: center;
}
.opcdvd:hover {
  background-color: var(--color-segundarias-1);
  border: 2px solid var(--color-segundarias-1);
  color: var(--color-principal-2);
}