
:root {
    --color-neutral-0: #ffffff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000000;


    --color-principal-0: #0b1137;
    --color-principal-1: #e7dba3;
    --color-principal-2: #f2eee8;
    --color-principal-3: #f2f2fb;
    --color-principal-4: #2a357a;
    --color-principal-5: #62698d;


    --color-segundarias-0: #3ca081;
    --color-segundarias-1: #b1302b;

    --color-terceiras-0: #e7dba3;
    --color-terceiras-1: #8c361b;
    --color-terceiras-2: #e2706a;
}