<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadsatro</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <script type="module" src="../Model/configFirebase.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" href="../Imagens/icon-48.png" type="image/png">

</head>
<body>

    <div class="container" id="cadastrar" style="display:none;">
    <h1 class="formTitulo">Cadastrar</h1>
    <form method="post">
        <div class="input-group">
        <label for="nomeUser">Nome</label>
        <input type="text" name="nomeUser" id="nomeUser" placeholder="Nome" required>
        </div>
        <br>

        <div class="input-group">
        <label for="apelidoUser">Apelido</label>
        <input type="text" name="apelidoUser" id="apelidoUser" placeholder="Apelido" required>
        </div>
        <br>

        <div class="input-group">
        <label for="emailUser">Email</label>
        <input type="text" name="emailUser" id="emailUser" placeholder="Email" required>
        </div>
        <br>

        <div class="input-group">
        <label for="senhaUser">Senha</label>
        <input type="password" name="senhaUser" id="senhaUser" placeholder="Senha" required>
        </div>
        <br>

        <div class="botao">
        <button type="submit" class="opc" id="SubmitBtnCadastrar">Cadastrar</button>
      </div>

      </form>
          <div class="botao">
        <p>Já tem uma conta?</p>
        <button class="opcdvd" id="entrarBtn">Entrar</button>
      </div>
</div>

      <div class="container" id="entrar" style="display:block;">
      <h1 class="formTitulo">Entrar</h1>
      <form method="post">
        <div class="input-group">
            <label for="emailUserLogin">Email</label>
            <input type="email"  id="emailUserLogin" placeholder="Email" required>
        </div>
        <br>
          <div class="input-group">
            <label for="senhaUserLogin">Senha</label>
            <input type="password" id="senhaUserLogin"  placeholder="Senha" required>
          </div>

                  <div class="botao">
         <button  class="opc" type="submit"  id="SubmitBtnEntrar">Entrar</button>
                  </div>
        </form>
        <div class="links">
          <p>Não tem uma conta ainda?</p>
          <button class="opcdvd" id="cadastrarBtn">Cadastre-se</button>
        </div>
</div>

<div class="preto"></div>
  <div class="fundoCadastro"></div>
    <script src="../Model/formsView.js"></script>
</body>

</html>