section{
    border-radius: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 80px;
}

ul{
    display: none;
        list-style: none;
        flex-direction: column;
        opacity: 0;            
        max-height: 0;   
        overflow: hidden;   
        transform: translate(-10px);
        transition: opacity 0.6s ease;
        opacity: 0;               
        transition: all 0.5s ease;
        &.show{
              display: flex;    
              opacity: 1;        
              max-height: 600px;      
              transform: translate(0); 
        }
    }

.cd {
  display: flex;
  align-items: center;      
  justify-content: center; 
  border: none;
  cursor: pointer;
    transition: all 0.2s ease;

}


.disobnt {
  transition: all 0.1s ease;
}

.disobnt.size {
  width: 300px;
  height: 300px;
}

div.titulo {
  width: 300px;
  background-color: var(--color-principal-0);
  padding: 10px;
  border-radius: 8px;
  text-align: center; 
  margin: 0 auto;       
}

div.titulo h1 {
  margin: 0;              
  font-size: 20px;         
  color: var(--color-principal-2);        
}

