<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--header-->
    <header>
        <nav class="navbar">
            <img 
                src="../Icons/logo.png"
                alt="Logo Pagina"
                class="logo">

                <button class="btn btn-nav">
                    <i class="fa-bars fa-solid"></i>
                </button>

                 <ul id="nav-links">
                    <li>
                        <a href="#home">Inicio</a>
                    </li>
                    <li>
                        <a href="#ChicoBuarque">Chico Buarque</a>
                    </li>
                    <li>
                        <a href="#Jax">Jax</a>
                    </li>
                    <li>
                        <a href="#Zooble">Zooble</a>
                    </li>
                     <li>
                        <a href="#Gangle">Gangle</a>
                    </li>
                    <li>
                        <a href="#King">King</a>
                    </li>                    
                    <li>
                        <a href="#Caine">Caine</a>
                    </li>
                    <li>
                        <a href="./Usuario.html">User</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-default">
                    contratar
                </a>
        </nav>
    </header>

    <!--Main-->
    <main>
        
        <!--Chico Buarque-->
            <section id="ChicoBuarque">
                <h1>Chico Buarque</h1>
    <button class="cd" id="bntChicoBuarque" type="button">
        <img class="cd" src="../Imagens/DiscoCD/CdDisco.jpeg" width="100px" height="100px">
    </button>
    <ul id="CdChicoBuarque">
            <h4>A Banda</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/ABanda.mp3" type="audio/mpeg"></audio></li>
            <h4>Calice</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/Calice.mp3" type="audio/mpeg"></audio></li>
            <h4>Construção</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/Construcao.mp3" type="audio/mpeg"></audio></li>
            <h4>Geni e o Zepelim</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/GenieoZepelim.mp3" type="audio/mpeg"></audio></li>
            <h4>Roda Viva</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/RodaViva.mp3" type="audio/mpeg"></audio></li>
            <h4>Samba e Amor</h4>
        <li><audio controls><source src="../Imagens/Musica/ChicoBuarque/SambaEAmor.mp3" type="audio/mpeg"></audio></li>
    </ul>
            </section>

            
            <section id="Jax"> 
                <img src="" alt="">
               <br>               <br>
            </section>

            <section id="Zooble">
                <img src="" alt=""> 
               <br>               <br>
            </section>
               
            <section id="Zooble">
                <img src="" alt=""> 
               <br>               <br>
            </section>

            <section id="Zooble">
                <img src="" alt=""> 
               <br>               <br>
            </section>
                    
            <section id="Zooble">
                <img src="" alt=""> 
               <br>               <br>
            </section>
                
    </main>
    

        <script src="../Model/btnNav.js"></script>
        <script src="../Model/CD/cdChicoBuarque.js"></script>

</body>
</html>